body{
    background-image: linear-gradient(green,orange);
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: rgb(247, 239, 239); 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #056414;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
    border-radius: 10px;
  }

  input
  {
    margin-right: 20px;
  }
  